.container{
    margin:100px 0px;

}

.card{
    /* padding:5px 5px 5px 5px; */
    margin-bottom:  40px !important;
    margin-right:  15px !important;
    /* text-align: center; */
    /* justify-content: center; */

}

.cardlist2{
    padding: 20px 20px 20px 20px;
}

.infected{
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);

}

.recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);

}

.deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);

}

@media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }