.container
{
    background-color: #343A40;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
   
}
.footerlink{
    color:white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    

}

@media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
      width:100%;
    }
  
    .footerlink{
        width:100%;
    }
  }