.container
{
    background-color: #343A40;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    
   
}
.footerlink{
    color:white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    

}
