.container{
    width:100%;
    justify-content: center;
    align-items:center;
    margin:2px;
    margin-top: 50px;

}
.stateHeading{
    text-align: center;
}
.dropDown{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tableContainer{
    display: flex;
    justify-content: center;
    /* background-color: rgba(115, 203, 206, 0.473); */
    /* margin-left: auto;
    margin-right: auto; */
    /* align-items: center; */
    /* text-align: center; */
}

/* .tableContainer:nth-child(even){background-color: #f2f2f2;} */

.tableHead{
    /* border-left: 6px solid red; */
    /* background-color: rgb(211, 211, 211); */
    /* width:100%; */
    height: 50px;
    /* padding:5px 5px; */
    /* margin:0; */
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow:2px 2px  cornsilk;
    font-size:1.5em;
    font-weight: bolder;

    
}

StyledTableCell{
    border-left: 6px solid red;
    background-color: lightgre
}