body{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0px 0px;
}

.heading{
  display: flex;
  align-items: center;
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 2px 2px cadetblue;
  margin-top: 10px;
}

.container{
    margin-top: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding:14px 16px;
  text-shadow: 2px 2px 4px bisque;
  text-decoration: none;
  font-size:20px;
}
li a:hover{
  color:paleturquoise;

}


li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


.image {
    width: 370px;
    margin-top: 45px;
    margin-bottom: 35px;
  }
  
@media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }
.particles{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-10;
}

#right{
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  /* text-align: center; */
  padding: 14px 16px;
  
  font-size: 20px;

  
  float: left;


 }

 #right:hover{
   cursor:pointer;
 }