body{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0px 0px;
    padding: 0;
}

.heading{
  display: flex;
  align-items: center;
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 2px 2px cadetblue;
  margin-top: 10px;
}

.container{
    margin-top: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#343A40;
  position: fixed;
  top: 0;
  width: 100%;
  

}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 20px;
  text-shadow: 2px 2px 4px bisque;
  text-decoration: none;
  /* font-size: 4vw; */

}
#right{
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-align: center;
  /* padding: 14px 16px; */
  padding-left: 5px;
  
  
  /* font-size: 20px; */

  
  float: left;


 }
 @media screen and (min-width :551px){
   li{
     font-size: 24px;
   }
   #right{
     padding-left: 5%;
     padding-bottom: 2px;
     
   }
 }



li a:hover{
  color:paleturquoise;

}


li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


.image {
    width: 370px;
    margin-top: 45px;
    margin-bottom: 35px;
  }
  
@media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }
.particles{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-10;
}



 #right:hover{
   cursor:pointer;
 }

 #select{
  border-left: 6px solid red;
  background-color: lightgrey;
  /* width:100%; */
  height: 50px;
  padding:5px 5px;
  margin:0;
  align-items: center;
  font-size:1.5em;
    

 }

 #global{
  border-left: 6px solid red;
  background-color: lightgrey;
  padding:3px 3px;
 }

 #indian{
  border-left: 6px solid red;
  background-color: lightgrey;
  padding:4px 4px;
 }